:root {
  /* Colors */
  --primary-color: hsl(40, 33%, 75%);
  --primary-color-darker: hsl(39, 53%, 52%);
  --secondary-color: hsl(39, 43%, 32%);
  --background-color: hsl(40, 23%, 5%);
  --text-color: hsla(40, 15%, 92%);
  --light-text-color: hsl(34, 41%, 97%);
  --gradient-border-color: linear-gradient(
    var(--primary-color-darker),
    var(--background-color)
  );
  --shadow-color: hsla(39, 43%, 32%, 0.811);
  --gradient-background-color: radial-gradient(
    at 50% 0%,
    hsla(39, 43%, 32%),
    hsl(40, 23%, 5%) 70%
  );
  --background-thumbnail-color: linear-gradient(
    hsla(0, 0%, 10%, 0),
    hsla(0, 0%, 10%, 0)
  );

  /* Typography */
  --font-family-main: "Basic", sans-serif;
  --font-family-secondary: "Inter", sans-serif;

  /* Fluid Typography */
  --font-size-base: clamp(0.875rem, 0.8rem + 0.375vw, 1rem);
  --font-size-h1: clamp(2.5rem, 1.5rem + 2vw, 4rem);
  --font-size-h2: clamp(2rem, 1.5rem + 1vw, 2.75rem);
  --font-size-h3: clamp(1.125rem, 1rem + 0.5vw, 1.5rem);
  --font-size-small: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);
  --font-size-large: clamp(1rem, 0.925rem + 0.375vw, 1.125rem);

  /* Spacing */
  --spacing-small: clamp(0.2rem, 0.2rem + 0.5vw, 0.5rem);
  --spacing-medium: clamp(0.4rem, 0.4rem + 1vw, 1rem);
  --spacing-large: clamp(0.8rem, 0.8rem + 2vw, 2rem);
  --spacing-xl: clamp(1rem, 1rem + 3vw, 3rem);
  --spacing-xxl: clamp(1.1rem, 1.1rem + 3.5vw, 3.5rem);

  /* Border */
  --border-radius: clamp(0.75rem, 0.7rem + 0.25vw, 0.9375rem);
  --border-radius-small: clamp(0.5rem, 0.45rem + 0.25vw, 0.625rem);

  /* Transitions */
  --transition-speed: 0.3s;
  interpolate-size: allow-keywords;
}
::selection {
  background-color: var(--background-color);
}

/* Global Styles */

html {
  font-size: 100%;
}
body {
  background-color: var(--background-color);
  color: var(--light-text-color);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-base);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-main);
  line-height: 1.1;
  font-weight: 400;
  color: var(--text-color);
}

h1 {
  font-size: var(--font-size-h1);
  text-align: center;
  padding-bottom: var(--spacing-large);
  max-width: 25ch;
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-large);
}
p {
  color: var(--text-color);
}

ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  padding-right: 2.5rem; /* Increase right padding to make room for the arrow */
}
select,
input {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--secondary-color);
  padding: var(--spacing-medium) var(--spacing-xl);
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color);
}
